/.idea/
/servicos/target/
/sistema/target/
/desktop/target/
/resources/target/
/api/target/
/logs/app.log
/docker-transferencia/data/
/docker-transferencia/apisMock/api-bacen/.idea/
/docker-transferencia/apisMock/api-cadastro/.idea/
/.vscode/
/adaptadores/target/
